      <div class="top-raw__padding col-md-10">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.name}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.username}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.email}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.address?.street}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Address suite</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.address?.suite}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">City</label>
            <div classe="col-sm-10">
              <div type="text">{{this.user?.address?.city}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Zip code</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.address?.zipcode}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Latitude</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.address?.geo?.lat}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Longitude</label>
            <div classe="col-sm-10">
              <div type="text">{{this.user?.address?.geo?.lng}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Company</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.company?.name}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Company's catchphrase</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.company?.catchPhrase}}</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Company's BS</label>
            <div class="col-sm-10">
              <div type="text">{{this.user?.company?.bs}}</div>
            </div>
          </div>
        </div>
      </div>
